<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/unifiedStylesheet.css">
</head>
<header id="header">
    <h3>Wine-iest™</h3>
<% if(!currentUser) { %>
<% } else { %>
    <nav id="headerNav">
    <a class="headerA" href="/users/<%= currentUser._id %>"><img src="https://i.imgur.com/fY30HrV.jpg"></a>
    <a class="headerA" href="/wines">Wines</a>
    <a class="headerA" href="/collexns">Collections</a>
    <a class="headerA" href="/">Home</a>
    <!-- <a href="/sessions/logout">Logout</a> -->
    <form class="headerForm" action="/sessions?_method=DELETE" method="POST">
        <input class="headerInput" type="submit" value="Logout">
    </form>
    </nav>
<% } %>
<hr>
</header>