<%- include('./partials/header.ejs', {title:"Your Collections"})%>

<body class="collections-index">
    <h1>View all collections</h1>
   
    <p><a id="makeNew" href="/collexns/new">Make a new collection</a></p>
    <ul>
        <% collexns.forEach((collexn) => { %>
            <li> <a id="collectionsA" href="/collexns/<%=collexn.id%>"><%=collexn.name%></a> </li>
        <% }) %>
</body>
</html>