<%- include('./partials/header.ejs', {title:"Your Collections"})%>

<body class="collections-index">
    <h1>View all collections</h1>
    Hey there, <%=currentUser.name%>.  Here you'll see a list of the collections you've created so far. Clicking on one will take you to the SHOW page for that collection
    <p><a href="/collexns/new">Make a new collection</a></p>
    <ul>
        <% collexns.forEach((collexn) => { %>
            <li> <a href="/collexns/<%=collexn.id%>"><%=collexn.name%></a> </li>
        <% }) %>
</body>
</html>