<%- include('./partials/header.ejs', {title:"New Collection"})%>

<body class="collections-new"> 
    
    <form action="/collexns" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="winesIncluded">Wines Included:</label>
        <select id="winesIncluded" name="winesIncluded" multiple>
    
            <!-- Populate options dynamically from database -->
            <% wines.forEach(wine=> { %>
                <option value="<%= wine._id %>"> <%= wine.name %> </option>
                <% }); %>
        </select>
        <button type="submit">Create collection</button>
    </form>

</body>
</html>