<%- include('./partials/header.ejs', {title:"Viewing Collection"})%>

<body class="collections-show">
    <h1>Collection: <%=id%></h1>
    This will be the SHOW page for an individual collection, in this case the.  It will have a list of the wines in the collection and some basic info about each.
</body>
</html>