<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=id%></title>
</head>
<body>
    <h1>Collection: <%=id%></h1>
    This will be the SHOW page for an individual collection, in this case the <%=id%> collection.  It will have a list of the wines in the collection and some basic info about each.
</body>
</html>