<%- include('./partials/header.ejs', {title:"Home"})%>

    <body class="home">
        <%if(currentUser){ %>
            <h1>Welcome, <%=currentUser.name%>!</h1>
            <a href="/collexns"> View your collections </a>
            <a href="/wines"> Browse wines </a>

        <%}else {%>
            <h1>Welcome!</h1>
            <a href="/sessions/new"> Login </a>
            <a href="/users/new"> Sign Up </a>
        <%}%>
    </body>

    </html>