<%- include('./partials/header.ejs', {title:"Login"})%>

<body class="login">
    <h1>Login</h1>
    <form action="/sessions" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input onclick="window.location.href='/'" type="submit" value="Login">
    </form>
</body>
</html>