<%- include('./partials/header.ejs', {title:"Browse"})%>

<body class="wine-index">
    
    <h1>Browse zee wines</h1>
    <ul>
        <% wines.forEach((wine) => { %>
            <li> <a href="/wines/<%=wine.id%>"><img id="wine" src="<%=wine.thumb%>"> <%=wine.name%> </a> </li>
        <% }) %>
    </ul>
    
</body>
</html>