#header {
    background-color: #812745 ;
    position:fixed;
    top: 10px;
    width: 100%;
    color: antiquewhite;
    margin:-4px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 8px;
    border-radius: 15px;
    text-align:justify;
    font-size: 20px;
    }
 #headerNav  {
    max-width: 70%;
    /* display: inline; */
    position: fixed;
    right: 70px;
    top: 22px;
    background-color: #812745;
    /* box-shadow: 0px 0px 0px 0px; */
    border: 0px ;
    color: antiquewhite;
    text-decoration: none;
    /* font-size: 18px; */
    padding: 8px;
    /* text-align: right; */
    /* float: right; */
    justify-content:space-between;
    align-content: right;
    margin-top: 0px;
    /* margin-left:auto; */
}
#headerNav img{
    height: 18px;
}
#headerNav .headerInput {
    position:fixed;
    right: 9px;
    top: 26px;
    font-size: 16px;
}
#headerNav .headerA, .headerInput {
    
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
    padding: 8px;
    background-color: #812745;
    border: 0px;
    /* text-align: right; */
    /* float: right; */
    justify-content:space-between;
    align-content: right;
    margin-top: 0px;
    margin-left:auto;
}



body, .home body {
    background-image: url('/assets/wineleaf-background.jpg');
    background-size: 100vw 100vh;
    /* background-repeat: no-repeat; */
}

h1{
    text-align: center;
        font-size: 10vw;
        padding-top: 20px;
        margin-top: 100px;
        padding-bottom: 0;
        margin-bottom: 0;
}

.home h2{
    font-style: italic;
    text-align: center;
    font-size: 4vw;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 25px;
}

a:link, a:visited {
    text-decoration: none;
    
    color:antiquewhite;
}
.home .a, .collections-index #makeNew {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 30px auto;
    max-width: 35%;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 10px;
    background-color: #812745;
    font-size: 4.5vw;
}


 h1{
    text-align: center;
    font-size: 5.5vw;
}
.login label {
    /* max-width: 50%; */
    font-size: 5vh;
    margin-left: 5vw;
    /* padding-bottom: 20px; */
}
.login input, .user-new input {
    max-width: 80%;
    margin-bottom: 1.5vh;
    max-height: 80%;
    margin-left: 5vw;
    background-color: antiquewhite;
    font-size: 5vh;
}

.user-new .user-new-form, .user-new-form input {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: 0 auto; */
    
    margin-bottom: 0;
    padding: 10px;
    border-radius: 15px;
    color: black;
    max-width: 80%;
    font-size: 5vh;
 } 

 .collections-index li {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 15px;;
    margin-left: -10px;
    max-width: 35%;
    text-align: left;
    /* justify-content: space-evenly; */
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    background-color: #8d5266;
    font-size: 2.5vw;
    list-style-type: none;
 }

 .collections-index #makeNew{
    font-size: 1.5vw;
    margin-bottom: 30px;
    margin-top: -15px;
 }
 #collections-new-form, #collections-edit-form{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-top: 40px;
    font-size: 3vw;
    justify-content:center;
    
 }
#collections-new-form input, #collections-new-form button, #collections-edit-form input, #collections-edit-form button{
        max-width: 40%;
        margin-bottom: 1.5vh;
        height: 40px;
        background-color: antiquewhite;
        font-size: 2vw;
        color: black;
}
#collections-new-form select, #collections-edit-form select{
    background-color: antiquewhite;
    font-size: 2vw;
    max-width: 60%;
}

.collections-show button{
    background-color: #812745;
    border:  none;
    color: antiquewhite;
    padding: 5px;
    margin: 10px;
}
.collections-show a{
    margin-left: 20px;
}
.collections-show p{
    font-size: 28px;
}
.collections-show li {
    list-style: none;
    font-size: 3.3vw;
    background-color: #8d5266;
    border-radius: 20px;
    margin: 20px 0 20px -20px
}

.wine-index #wine {
    height: 15vw;
    width: 15vw;
}

.wine-index {
    text-align: center;
}

.wine-index ul {
    display: flexbox

}
.wine-show {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-top: 40px;
    font-size: 1.5vw;
    justify-content:center;
    text-align: center;
}

.wine-show table {
    background-color: #8d5266;
    margin: 0 auto;
    font-size: 1.5vw;
    text-align: center;
    border: 1px#812745
}

.wine-show td, th {
    padding: 8px 20px;
    border: 1px solid #ffffff;
}
#wineImg {
    height: 25vw;
    width: 25vw;
    border-radius: 15px;
    margin: 20px auto;
}

.wine-show h1 {
    font-size: 4vw;
    margin-bottom: 20px;
    margin-top: -20px
}

#wineTile {
    margin-left: 0;
        width: 33%;
        padding: 40px 5px;
        background-color: #8d5266;
        display: grid;
        place-items: center;
        float: left;
        border-radius: 50px;
        margin-bottom: 20px;
        font-size: 1.4vw;
        text-align: center;
    }